<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>write</title>
</head>
<body>
  Name : {{ submit.Name }}
  <br>
  Date : {{ submit.Date }}
  <br>
  PMID : {{ submit.PMID }}
  <br>
  Properties : {{ submit.Properties }}
  <br>
  Type : {{ submit.Type }}
  <br>
  Effect_to_PrP : {{ submit.Effect_to_PrP}}
  <br>
  Effect_to_Diseases_progression : {{ submit.Effect_to_Diseases_progression }}
  <br>
  Materials : {{ submit.Materials }}
  <br>
  Information_of_Materials : {{ submit.Information_of_Materials }}
  <br>
  Treatement : {{ submit.Treatement}}
  <br>
  Binding_site : {{ submit.Binding_site }}
  <br>
  PubChem : {{ submit.PubChem }}
  <br>
  email : {{ submit.email }}
  <br>
</body>
</html>
