{% extends 'blog/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

  <body>
    <div style="float: left; width: 20%;">
    <div class="container">
        <h4><b>Contact us</b></h4>
          <ol class="list-unstyled">
            <li>Sol Moe Lee (arabe@snu.ac.kr)</li>
            <li>Wonseok Lee (nzanka@snu.ac.kr)</li>
            <li>Heebal Kim (heebal@snu.ac.kr)</a></li>
            <li>Suyeon Kim (tenksy@korea.kr)</a></li>
          </ol>
              <br />
        <h4><b>Site related</b></h4>
          <ol class="list-unstyled">
            <li><a href="http://www.nih.go.kr/NIH/eng/main.jsp" target="_blank">KNIH</a></li>
            <li><a href="http://biopop.snu.ac.kr/" target="_blank">BIOPOP</a></li>
            <li><a href="https://prion.systemsbiology.net/page/Welcome/display" target="_blank">PDDB</a></li>
            <li><a href="https://pubchem.ncbi.nlm.nih.gov/" target="_blank">Pubchem</a></li>
            <li><a href="http://stitch.embl.de/" target="_blank">STITCH</a></li>
            <li><a href="http://www.rcsb.org/pdb/home/home.do" target="_blank">PDB</a></li>
            <li><a href="http://www.cureffi.org/" target="_blank">CureFFI.org</a></li>
          </ol>
  </div>
  </div>
  <div style="float: left; width: 10%;"></div>

  <div style="float: left; width: 40%;">
    <br><br />
  <p><b> Graphs and charts template were got from:</b></p>
  <p><li><a href="http://www.anychart.com" target="_blank">AnyChart</a></li></p>
  <p><li><a href="http://www.jqwidgets.com" target="_blank">jQWidgets</a></li></p>
  <p><li><a href="https://www.highcharts.com/" target="_blank">HIGHCHARTS</a></li></p>
  <p><b> Template to make proper tables for <em>Main_Table</em>, <em>File export</em> and <em>List for submitted data</em> were got from: </b></p>
  <p><li><a href="https://datatables.net" target="_blank">DataTable</a></li></p>
  <p><b> Template for website of THERPA was got from:</b></p>
  <p><li><a href="http://getbootstrap.com" target="_blank">BootStrap</a></li></p>
  <p><b> Sources of sliding menu and icons used in THERPA were got from: </b></p>
  <p><li><a href="http://codepen.io" target="_blank">CODEPEN</a></li></p>
  <p><li><a href="http://fontawesome.io" target="_blank">Font Awesome</a></li></p>

  <p><strong> ※  We used these templates and sources for only a non-profit purposes </strong></p>
  </div>
  </body>
</html>

{% endblock content %}
