{% extends 'blog/base.html' %}
{% block content %}
{% load staticfiles %}
<!doctype html>
<html>
<head>
</head>
  <body>
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="page-header">
          <h1><center><img src="{% static 'image/therpa_1_1.png' %}" width="744px" height="360px"></center></h1>
        </div>
        <div class="well">
          <p> <b>THER</b>apeutic small molecules database that is <b>P</b>rion diseases-<b>A</b>ssociated (THERPA) is constructed for...

        </div>
          <a class="btn btn-lg btn-primary" href="http://127.0.0.1:8000/about" role="button">See more &raquo;</a>
        </p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js' %}"></script>


  </body>
</html>
{% endblock content %}
