{% extends 'blog/base.html' %}
{% block content %}

<!doctype html>
<html>
<head>
  <script src="https://cdn.anychart.com/js/7.13.0/anychart-bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.anychart.com/css/7.13.0/anychart-ui.min.css" />
  <style>
    html, body, #container {
      width: 100%;
      height: 50%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>
    <div id="container"></div>
    <script type="text/javascript">
anychart.onDocumentReady(function() {

  // makes tree from the data for the sample
  var data = anychart.data.tree(composition_data, anychart.enums.TreeFillingMethod.AS_TABLE);
  chart = anychart.treeMap(data);

  // sets credits for this sample
  chart.credits(true);


  // sets chart settings
  chart.selectionMode('none');

   // sets title for chart and customizes it
  chart.title().enabled(true).padding([0,  0,  20,  0]).useHtml(true).text(
    '<br><br><br/>' +
    '<span style="color:#212121; font-size: 20px;"><b>Treemap</b><br/></span>' +
    '<br><span style="color:#212121; font-size: 15px;">If you want to drill up, click right buttop of your mouse and click Drill up</span>'
  );

  // sets settings for labels
  chart.labels().fontColor('#212121').fontSize(12).useHtml(true).textFormatter(function(){
     return this.getDataValue('name') + '<br/><span style="font-size: 10px; font-weight: bold">' +
     parseFloat(this.value).toLocaleString() + '</span> ';
  });

  // sets settings for tooltips
  chart.tooltip().textFormatter(function(){
     return parseFloat(this.value).toLocaleString() + ' published article';
  });

  // set colorScale with colors
  chart.colorScale(anychart.scales.linearColor('#f1a122', '#a50b01'));

  // setting the number of levels shown
  chart.hintDepth(1);

  // hintOpacity setting
  chart.hintOpacity(0.8);

  // set container id for the chart
  chart.container('container');

  // initiate chart drawing
  chart.draw();
});

// create data for the sample
var composition_data = [
  {parent: null, name: "Small molecules TreeMaps", id: "Origin"},

  {id: "binding to PrP", parent: "Origin", name: "binding to PrP"},
  {id: "prolong survival times", parent: "Origin", name: "prolong survival times"},
  {id: "PrPSc down-regulation", parent: "Origin", name: "PrPSc down-regulation"},
  {id: "observed sponge-like form", parent: "Origin", name: "observed sponge-like form"},
  {id: "β-sheet forms of PrP up-regulation", parent: "Origin", name: "β-sheet forms of PrP up-regulation"},
  {id: "prolong survival times but weak", parent: "Origin", name: "prolong survival times but weak"},
  {id: "PrPSc up-regulation", parent: "Origin", name: "PrPSc up-regulation"},
  {id: "PrPC down-regulation", parent: "Origin", name: "PrPC down-regulation"},
  {id: "reduce neurotoxicity", parent: "Origin", name: "reduce neurotoxicity"},
  {id: "unclear", parent: "Origin", name: "unclear"},
  {id: "morphological change", parent: "Origin", name: "morphological change"},
  {id: "effectless", parent: "Origin", name: "effectless"},
  {id: "PrPSc down-regulation but weak", parent: "Origin", name: "PrPSc down-regulation but weak"},
  {id: "accelerates disease progression", parent: "Origin", name: "accelerates disease progression"},
  {id: "mediate cytotoxicity", parent: "Origin", name: "mediate cytotoxicity"},
  {id: "PrPC up-regulation", parent: "Origin", name: "PrPC up-regulation"},
  {id: "PrP polymerization down-regulation", parent: "Origin", name: "PrP polymerization down-regulation"},
  {id: "ongoing research", parent: "Origin", name: "ongoing research"},
  {id: "reduce microcondrial dysfunction", parent: "Origin", name: "reduce microcondrial dysfunction"},
  {id: "PrP polymerization up-regulation ", parent: "Origin", name: "PrP polymerization up-regulation "},
  {id: "not inhibit PrP polymerization", parent: "Origin", name: "not inhibit PrP polymerization"},
  {id: "infection inactivation (disinfectant)", parent: "Origin", name: "infection inactivation (disinfectant)"},
  {id: "initially PrPSc was decreased, but the levels was rebounded 2 days later", parent: "Origin", name: "initially PrPSc was decreased, but the levels was rebounded 2 days later"},
  {id: "not significant to prolong survival times", parent: "Origin", name: "not significant to prolong survival times"},
  {id: "symptoms were transiently improved", parent: "Origin", name: "symptoms were transiently improved"},
  {id: "reverse the protease-resistance of PrPSc", parent: "Origin", name: "reverse the protease-resistance of PrPSc"},
  {id: "delay PrPSc clearance", parent: "Origin", name: "delay PrPSc clearance"},

      {id: "1_Cu2+", parent: "accelerates disease progression", name: "Cu2+", value: "2"},
      {id: "1_Cu2+ (low concentration)", parent: "accelerates disease progression", name: "Cu2+ (low concentration)", value: "1"},
      {id: "1_kaolinite", parent: "accelerates disease progression", name: "kaolinite", value: "1"},
      {id: "1_Mn2+", parent: "accelerates disease progression", name: "Mn2+", value: "1"},
      {id: "1_montmorillonite", parent: "accelerates disease progression", name: "montmorillonite", value: "1"},
      {id: "1_polycytidylic acid", parent: "accelerates disease progression", name: "polycytidylic acid", value: "1"},
      {id: "2_IDX", parent: "binding to PrP", name: "IDX", value: "1"},
      {id: "2_chlorpromazine  ", parent: "binding to PrP", name: "chlorpromazine  ", value: "1"},
      {id: "2_Cu2+", parent: "binding to PrP", name: "Cu2+", value: "7"},
      {id: "2_curcumin", parent: "binding to PrP", name: "curcumin", value: "2"},
      {id: "2_GAG", parent: "binding to PrP", name: "GAG", value: "1"},
      {id: "2_Mn2+", parent: "binding to PrP", name: "Mn2+", value: "1"},
      {id: "2_promazine", parent: "binding to PrP", name: "promazine", value: "1"},
      {id: "2_quinacrine", parent: "binding to PrP", name: "quinacrine", value: "2"},
      {id: "2_quinine", parent: "binding to PrP", name: "quinine", value: "1"},
      {id: "2_tetracycline", parent: "binding to PrP", name: "tetracycline", value: "1"},
      {id: "2_vitamin D2 ", parent: "binding to PrP", name: "vitamin D2 ", value: "1"},
      {id: "3_tilorone", parent: "delay PrPSc clearance", name: "tilorone", value: "1"},
      {id: "4_clomipramine", parent: "effectless", name: "clomipramine", value: "1"},
      {id: "4_doxycycline", parent: "effectless", name: "doxycycline", value: "1"},
      {id: "4_IND24", parent: "effectless", name: "IND24", value: "2"},
      {id: "4_interferon", parent: "effectless", name: "interferon", value: "1"},
      {id: "4_meinloguine", parent: "effectless", name: "meinloguine", value: "1"},
      {id: "4_pentosan polysulfate", parent: "effectless", name: "pentosan polysulfate", value: "2"},
      {id: "4_quinacrine", parent: "effectless", name: "quinacrine", value: "8"},
      {id: "4_venlafaxine", parent: "effectless", name: "venlafaxine", value: "1"},
      {id: "5_NaOH", parent: "infection inactivation (disinfectant)", name: "NaOH", value: "1"},
      {id: "5_TiO2", parent: "infection inactivation (disinfectant)", name: "TiO2", value: "1"},
      {id: "6_quinacrine", parent: "initially PrPSc was decreased, but the levels was rebounded 2 days later", name: "quinacrine", value: "1"},
      {id: "7_Cu2+", parent: "mediate cytotoxicity", name: "Cu2+", value: "1"},
      {id: "8_chondroitin sulphate A", parent: "morphological change", name: "chondroitin sulphate A", value: "1"},
      {id: "8_chondroitin sulphate B", parent: "morphological change", name: "chondroitin sulphate B", value: "1"},
      {id: "8_chondroitin sulphate C", parent: "morphological change", name: "chondroitin sulphate C", value: "1"},
      {id: "8_DS500", parent: "morphological change", name: "DS500", value: "1"},
      {id: "8_heparan sulphate ", parent: "morphological change", name: "heparan sulphate ", value: "1"},
      {id: "8_hyaluronic acid", parent: "morphological change", name: "hyaluronic acid", value: "1"},
      {id: "8_keratan sulphate", parent: "morphological change", name: "keratan sulphate", value: "1"},
      {id: "9_hyaluronic acid", parent: "not inhibit PrP polymerization", name: "hyaluronic acid", value: "1"},
      {id: "10_quinacrine", parent: "not significant to prolong survival times", name: "quinacrine", value: "3"},
      {id: "11_POPS", parent: "observed sponge-like form", name: "POPS", value: "1"},
      {id: "12_doxycycline", parent: "ongoing research", name: "doxycycline", value: "1"},
      {id: "13_IDX", parent: "prolong survival times", name: "IDX", value: "1"},
      {id: "13_anle138b", parent: "prolong survival times", name: "anle138b", value: "1"},
      {id: "13_biquinolin ", parent: "prolong survival times", name: "biquinolin ", value: "1"},
      {id: "13_CompB", parent: "prolong survival times", name: "CompB", value: "1"},
      {id: "13_complete Freund's adjuvant", parent: "prolong survival times", name: "complete Freund's adjuvant", value: "1"},
      {id: "13_cpd-B", parent: "prolong survival times", name: "cpd-B", value: "4"},
      {id: "13_CR36", parent: "prolong survival times", name: "CR36", value: "1"},
      {id: "13_Cu2+", parent: "prolong survival times", name: "Cu2+", value: "2"},
      {id: "13_Cu2+, Mn2+ poor", parent: "prolong survival times", name: "Cu2+, Mn2+ poor", value: "1"},
      {id: "13_cyclic teterapyrroles phthalocyanine tetrasulfonate", parent: "prolong survival times", name: "cyclic teterapyrroles phthalocyanine tetrasulfonate", value: "1"},
      {id: "13_doxycycline", parent: "prolong survival times", name: "doxycycline", value: "1"},
      {id: "13_D-PEN", parent: "prolong survival times", name: "D-PEN", value: "1"},
      {id: "13_DS500", parent: "prolong survival times", name: "DS500", value: "2"},
      {id: "13_fucoidan", parent: "prolong survival times", name: "fucoidan", value: "1"},
      {id: "13_heparin", parent: "prolong survival times", name: "heparin", value: "1"},
      {id: "13_IND24", parent: "prolong survival times", name: "IND24", value: "5"},
      {id: "13_IND81", parent: "prolong survival times", name: "IND81", value: "1"},
      {id: "13_methylphenidate", parent: "prolong survival times", name: "methylphenidate", value: "1"},
      {id: "13_minocycline", parent: "prolong survival times", name: "minocycline", value: "1"},
      {id: "13_Mn2+", parent: "prolong survival times", name: "Mn2+", value: "1"},
      {id: "13_pentosan polysulfate", parent: "prolong survival times", name: "pentosan polysulfate", value: "6"},
      {id: "13_quinine", parent: "prolong survival times", name: "quinine", value: "3"},
      {id: "13_rapamycin ", parent: "prolong survival times", name: "rapamycin ", value: "1"},
      {id: "13_simvastatin", parent: "prolong survival times", name: "simvastatin", value: "3"},
      {id: "13_SP54", parent: "prolong survival times", name: "SP54", value: "1"},
      {id: "13_suramin", parent: "prolong survival times", name: "suramin", value: "2"},
      {id: "13_tetracycline", parent: "prolong survival times", name: "tetracycline", value: "4"},
      {id: "13_tilorone", parent: "prolong survival times", name: "tilorone", value: "1"},
      {id: "13_TiO2", parent: "prolong survival times", name: "TiO2", value: "1"},
      {id: "14_amantadine", parent: "prolong survival times but weak", name: "amantadine", value: "5"},
      {id: "14_amphotericin B", parent: "prolong survival times but weak", name: "amphotericin B", value: "1"},
      {id: "14_pentosan polysulfate", parent: "prolong survival times but weak", name: "pentosan polysulfate", value: "2"},
      {id: "15_curcumin", parent: "PrP polymerization down-regulation", name: "curcumin", value: "1"},
      {id: "15_heparan sulphate", parent: "PrP polymerization down-regulation", name: "heparan sulphate", value: "1"},
      {id: "15_PrP autoantibodies ", parent: "PrP polymerization down-regulation", name: "PrP autoantibodies ", value: "1"},
      {id: "16_hemin", parent: "PrP polymerization up-regulation ", name: "hemin", value: "1"},
      {id: "17_aspirin ", parent: "PrPC down-regulation", name: "aspirin ", value: "1"},
      {id: "17_ATRA", parent: "PrPC down-regulation", name: "ATRA", value: "1"},
      {id: "17_Cu2+", parent: "PrPC down-regulation", name: "Cu2+", value: "1"},
      {id: "17_FK 506", parent: "PrPC down-regulation", name: "FK 506", value: "1"},
      {id: "17_glimepiride", parent: "PrPC down-regulation", name: "glimepiride", value: "1"},
      {id: "17_PD98059", parent: "PrPC down-regulation", name: "PD98059", value: "1"},
      {id: "17_tacrolimu", parent: "PrPC down-regulation", name: "tacrolimu", value: "1"},
      {id: "18_Cu2+", parent: "PrPC up-regulation", name: "Cu2+", value: "1"},
      {id: "18_Fe3+", parent: "PrPC up-regulation", name: "Fe3+", value: "1"},
      {id: "18_glimepiride", parent: "PrPC up-regulation", name: "glimepiride", value: "1"},
      {id: "18_Mn2+", parent: "PrPC up-regulation", name: "Mn2+", value: "1"},
      {id: "19_IDX", parent: "PrPSc down-regulation", name: "IDX", value: "1"},
      {id: "19_4-amino-7-chloroquinoline", parent: "PrPSc down-regulation", name: "4-amino-7-chloroquinoline", value: "1"},
      {id: "19_4-hydroxytamoxifen", parent: "PrPSc down-regulation", name: "4-hydroxytamoxifen", value: "1"},
      {id: "19_acepromazine", parent: "PrPSc down-regulation", name: "acepromazine", value: "1"},
      {id: "19_Alphanate®", parent: "PrPSc down-regulation", name: "Alphanate®", value: "1"},
      {id: "19_analogues of Congo red", parent: "PrPSc down-regulation", name: "analogues of Congo red", value: "1"},
      {id: "19_anle138b", parent: "PrPSc down-regulation", name: "anle138b", value: "1"},
      {id: "19_bathocuproine", parent: "PrPSc down-regulation", name: "bathocuproine", value: "1"},
      {id: "19_biquinolin ", parent: "PrPSc down-regulation", name: "biquinolin ", value: "2"},
      {id: "19_chlorpromazine", parent: "PrPSc down-regulation", name: "chlorpromazine", value: "1"},
      {id: "19_CompB", parent: "PrPSc down-regulation", name: "CompB", value: "1"},
      {id: "19_congo red", parent: "PrPSc down-regulation", name: "congo red", value: "4"},
      {id: "19_cpd-B", parent: "PrPSc down-regulation", name: "cpd-B", value: "1"},
      {id: "19_CR36", parent: "PrPSc down-regulation", name: "CR36", value: "2"},
      {id: "19_Cu2+", parent: "PrPSc down-regulation", name: "Cu2+", value: "6"},
      {id: "19_DMSO", parent: "PrPSc down-regulation", name: "DMSO", value: "1"},
      {id: "19_DOC", parent: "PrPSc down-regulation", name: "DOC", value: "1"},
      {id: "19_D-PEN", parent: "PrPSc down-regulation", name: "D-PEN", value: "1"},
      {id: "19_DS500", parent: "PrPSc down-regulation", name: "DS500", value: "1"},
      {id: "19_E-64d", parent: "PrPSc down-regulation", name: "E-64d", value: "1"},
      {id: "19_Fanhdi®", parent: "PrPSc down-regulation", name: "Fanhdi®", value: "1"},
      {id: "19_FK 506", parent: "PrPSc down-regulation", name: "FK 506", value: "1"},
      {id: "19_Flebogamma® DIF", parent: "PrPSc down-regulation", name: "Flebogamma® DIF", value: "1"},
      {id: "19_fucoidan", parent: "PrPSc down-regulation", name: "fucoidan", value: "2"},
      {id: "19_glimepiride", parent: "PrPSc down-regulation", name: "glimepiride", value: "2"},
      {id: "19_heme", parent: "PrPSc down-regulation", name: "heme", value: "1"},
      {id: "19_HM2602", parent: "PrPSc down-regulation", name: "HM2602", value: "3"},
      {id: "19_heparin", parent: "PrPSc down-regulation", name: "heparin", value: "1"},
      {id: "19_heparinase III", parent: "PrPSc down-regulation", name: "heparinase III", value: "1"},
      {id: "19_MnO2", parent: "PrPSc down-regulation", name: "MnO2", value: "1"},
      {id: "19_Mn-TCPP", parent: "PrPSc down-regulation", name: "Mn-TCPP", value: "1"},
      {id: "19_Mn-TMPyP", parent: "PrPSc down-regulation", name: "Mn-TMPyP", value: "1"},
      {id: "19_N-(7-chloro-4-guinolinyl)-1,2-ethanediamine", parent: "PrPSc down-regulation", name: "N-(7-chloro-4-guinolinyl)-1,2-ethanediamine", value: "1"},
      {id: "19_neocuproine", parent: "PrPSc down-regulation", name: "neocuproine", value: "1"},
      {id: "19_pentosan polysulfate", parent: "PrPSc down-regulation", name: "pentosan polysulfate", value: "5"},
      {id: "19_promazine", parent: "PrPSc down-regulation", name: "promazine", value: "1"},
      {id: "19_promethazine ", parent: "PrPSc down-regulation", name: "promethazine ", value: "1"},
      {id: "19_quinacrine", parent: "PrPSc down-regulation", name: "quinacrine", value: "6"},
      {id: "19_rapamycin ", parent: "PrPSc down-regulation", name: "rapamycin ", value: "1"},
      {id: "19_SDS", parent: "PrPSc down-regulation", name: "SDS", value: "3"},
      {id: "19_simvastatin", parent: "PrPSc down-regulation", name: "simvastatin", value: "1"},
      {id: "19_sirius red", parent: "PrPSc down-regulation", name: "sirius red", value: "1"},
      {id: "19_SLS", parent: "PrPSc down-regulation", name: "SLS", value: "3"},
      {id: "19_squalestatin", parent: "PrPSc down-regulation", name: "squalestatin", value: "1"},
      {id: "19_suramin", parent: "PrPSc down-regulation", name: "suramin", value: "2"},
      {id: "19_tamoxifen", parent: "PrPSc down-regulation", name: "tamoxifen", value: "1"},
      {id: "19_TCPP", parent: "PrPSc down-regulation", name: "TCPP", value: "1"},
      {id: "19_tetracycline", parent: "PrPSc down-regulation", name: "tetracycline", value: "1"},
      {id: "19_TMPyP", parent: "PrPSc down-regulation", name: "TMPyP", value: "1"},
      {id: "19_TPP", parent: "PrPSc down-regulation", name: "TPP", value: "1"},
      {id: "19_TPPS", parent: "PrPSc down-regulation", name: "TPPS", value: "1"},
      {id: "19_TUDCA, tauroursodeoxycholic acid", parent: "PrPSc down-regulation", name: "TUDCA, tauroursodeoxycholic acid", value: "2"},
      {id: "19_UDCA, precursor of TUDCA", parent: "PrPSc down-regulation", name: "UDCA, precursor of TUDCA", value: "1"},
      {id: "19_vitamin D2 ", parent: "PrPSc down-regulation", name: "vitamin D2 ", value: "1"},
      {id: "19_β-cyclodextrin", parent: "PrPSc down-regulation", name: "β-cyclodextrin", value: "1"},
      {id: "19_β-D-xyloside", parent: "PrPSc down-regulation", name: "β-D-xyloside", value: "1"},
      {id: "20_cpd-B", parent: "PrPSc down-regulation but weak", name: "cpd-B", value: "2"},
      {id: "21_analogues of Congo red", parent: "PrPSc up-regulation", name: "analogues of Congo red", value: "1"},
      {id: "21_Cu2+", parent: "PrPSc up-regulation", name: "Cu2+", value: "1"},
      {id: "21_Mn2+", parent: "PrPSc up-regulation", name: "Mn2+", value: "1"},
      {id: "21_triton X-100", parent: "PrPSc up-regulation", name: "triton X-100", value: "1"},
      {id: "22_FTY720", parent: "reduce microcondrial dysfunction", name: "FTY720", value: "1"},
      {id: "23_aspirin ", parent: "reduce neurotoxicity", name: "aspirin ", value: "1"},
      {id: "23_cannabidiol", parent: "reduce neurotoxicity", name: "cannabidiol", value: "2"},
      {id: "23_carnosine", parent: "reduce neurotoxicity", name: "carnosine", value: "1"},
      {id: "23_chondroitin sulphate B", parent: "reduce neurotoxicity", name: "chondroitin sulphate B", value: "1"},
      {id: "23_Cu2+", parent: "reduce neurotoxicity", name: "Cu2+", value: "1"},
      {id: "23_flupirtine", parent: "reduce neurotoxicity", name: "flupirtine", value: "1"},
      {id: "23_gingerol", parent: "reduce neurotoxicity", name: "gingerol", value: "1"},
      {id: "23_glimepiride", parent: "reduce neurotoxicity", name: "glimepiride", value: "1"},
      {id: "23_glucosamine-phosphatidylinnositol", parent: "reduce neurotoxicity", name: "glucosamine-phosphatidylinnositol", value: "1"},
      {id: "23_heparan sulphate", parent: "reduce neurotoxicity", name: "heparan sulphate", value: "1"},
      {id: "23_hinokitiol", parent: "reduce neurotoxicity", name: "hinokitiol", value: "1"},
      {id: "23_keratan sulphate", parent: "reduce neurotoxicity", name: "keratan sulphate", value: "1"},
      {id: "23_PrP autoantibodies ", parent: "reduce neurotoxicity", name: "PrP autoantibodies ", value: "1"},
      {id: "23_resveratrol", parent: "reduce neurotoxicity", name: "resveratrol", value: "1"},
      {id: "23_rutin", parent: "reduce neurotoxicity", name: "rutin", value: "1"},
      {id: "23_simvastatin", parent: "reduce neurotoxicity", name: "simvastatin", value: "1"},
      {id: "23_squalestatin", parent: "reduce neurotoxicity", name: "squalestatin", value: "1"},
      {id: "23_STI571", parent: "reduce neurotoxicity", name: "STI571", value: "1"},
      {id: "23_sulforaphane", parent: "reduce neurotoxicity", name: "sulforaphane", value: "1"},
      {id: "23_tetracycline", parent: "reduce neurotoxicity", name: "tetracycline", value: "1"},
      {id: "23_uric acid", parent: "reduce neurotoxicity", name: "uric acid", value: "1"},
      {id: "23_Zn2+", parent: "reduce neurotoxicity", name: "Zn2+", value: "1"},
      {id: "24_tetracycline", parent: "reverse the protease-resistance of PrPSc", name: "tetracycline", value: "3"},
      {id: "25_quinacrine", parent: "symptoms were transiently improved", name: "quinacrine", value: "1"},
      {id: "25_quinacrine with chloropromazine", parent: "symptoms were transiently improved", name: "quinacrine with chloropromazine", value: "1"},
      {id: "26_biquinolin ", parent: "unclear", name: "biquinolin ", value: "1"},
      {id: "26_hyaluronic acid", parent: "unclear", name: "hyaluronic acid", value: "1"},
      {id: "26_pentosan polysulfate", parent: "unclear", name: "pentosan polysulfate", value: "2"},
      {id: "26_simvastatin", parent: "unclear", name: "simvastatin", value: "2"},
      {id: "27_POPS", parent: "β-sheet forms of PrP up-regulation", name: "POPS", value: "1"},

        {id: "1", parent: "1_Cu2+", name: "22198568", value: "1"},
        {id: "2", parent: "1_Cu2+", name: "22869751", value: "1"},
        {id: "3", parent: "1_Cu2+ (low concentration)", name: "19635464", value: "1"},
        {id: "4", parent: "1_kaolinite", name: "21218345", value: "1"},
        {id: "5", parent: "1_Mn2+", name: "22026293", value: "1"},
        {id: "6", parent: "1_montmorillonite", name: "21218345", value: "1"},
        {id: "7", parent: "1_polycytidylic acid", name: "20399848", value: "1"},
        {id: "8", parent: "2_IDX", name: "9148807", value: "1"},
        {id: "9", parent: "2_chlorpromazine  ", name: "24373770", value: "1"},
        {id: "10", parent: "2_Cu2+", name: "7864852", value: "1"},
        {id: "11", parent: "2_Cu2+", name: "9644969", value: "1"},
        {id: "12", parent: "2_Cu2+", name: "16258172", value: "1"},
        {id: "13", parent: "2_Cu2+", name: "11278306", value: "1"},
        {id: "14", parent: "2_Cu2+", name: "17331076", value: "1"},
        {id: "15", parent: "2_Cu2+", name: "21900252", value: "1"},
        {id: "16", parent: "2_Cu2+", name: "25373386", value: "1"},
        {id: "17", parent: "2_curcumin", name: "17996023", value: "1"},
        {id: "18", parent: "2_curcumin", name: "17996023", value: "1"},
        {id: "19", parent: "2_GAG", name: "17456603", value: "1"},
        {id: "20", parent: "2_Mn2+", name: "18332141", value: "1"},
        {id: "21", parent: "2_promazine", name: "24373770", value: "1"},
        {id: "22", parent: "2_quinacrine", name: "14722283", value: "1"},
        {id: "23", parent: "2_quinacrine", name: "12857915", value: "1"},
        {id: "24", parent: "2_quinine", name: "14722283", value: "1"},
        {id: "25", parent: "2_tetracycline", name: "10903871", value: "1"},
        {id: "26", parent: "2_vitamin D2 ", name: "23857314", value: "1"},
        {id: "27", parent: "3_tilorone", name: "18350378", value: "1"},
        {id: "28", parent: "4_clomipramine", name: "11407273", value: "1"},
        {id: "29", parent: "4_doxycycline", name: "24411709", value: "1"},
        {id: "30", parent: "4_IND24", name: "21247166", value: "1"},
        {id: "31", parent: "4_IND24", name: "21247166", value: "1"},
        {id: "32", parent: "4_interferon", name: "6155969", value: "1"},
        {id: "33", parent: "4_meinloguine", name: "16379006", value: "1"},
        {id: "34", parent: "4_pentosan polysulfate", name: "16598408", value: "1"},
        {id: "35", parent: "4_pentosan polysulfate", name: "21801238", value: "1"},
        {id: "36", parent: "4_quinacrine", name: "24122181", value: "1"},
        {id: "37", parent: "4_quinacrine", name: "12325081", value: "1"},
        {id: "38", parent: "4_quinacrine", name: "12857915", value: "1"},
        {id: "39", parent: "4_quinacrine", name: "15113880", value: "1"},
        {id: "40", parent: "4_quinacrine", name: "12666126", value: "1"},
        {id: "41", parent: "4_quinacrine", name: "15319710", value: "1"},
        {id: "42", parent: "4_quinacrine", name: "16293480", value: "1"},
        {id: "43", parent: "4_quinacrine", name: "17161728", value: "1"},
        {id: "44", parent: "4_venlafaxine", name: "11407273", value: "1"},
        {id: "45", parent: "5_NaOH", name: "17074508", value: "1"},
        {id: "46", parent: "5_TiO2", name: "16963773", value: "1"},
        {id: "47", parent: "6_quinacrine", name: "19956709", value: "1"},
        {id: "48", parent: "7_Cu2+", name: "12505617", value: "1"},
        {id: "49", parent: "8_chondroitin sulphate A", name: "9761736", value: "1"},
        {id: "50", parent: "8_chondroitin sulphate B", name: "9761736", value: "1"},
        {id: "51", parent: "8_chondroitin sulphate C", name: "9761736", value: "1"},
        {id: "52", parent: "8_DS500", name: "9761736", value: "1"},
        {id: "53", parent: "8_heparan sulphate ", name: "9761736", value: "1"},
        {id: "54", parent: "8_hyaluronic acid", name: "9761736", value: "1"},
        {id: "55", parent: "8_keratan sulphate", name: "9761736", value: "1"},
        {id: "56", parent: "9_hyaluronic acid", name: "9761736", value: "1"},
        {id: "57", parent: "10_quinacrine", name: "19278902", value: "1"},
        {id: "58", parent: "10_quinacrine", name: "15655516", value: "1"},
        {id: "59", parent: "10_quinacrine", name: "19956709", value: "1"},
        {id: "60", parent: "11_POPS", name: "20409471", value: "1"},
        {id: "61", parent: "12_doxycycline", name: "25996399", value: "1"},
        {id: "62", parent: "13_IDX", name: "9148807", value: "1"},
        {id: "63", parent: "13_anle138b", name: "23604588", value: "1"},
        {id: "64", parent: "13_biquinolin ", name: "14722283", value: "1"},
        {id: "65", parent: "13_CompB", name: "17881452", value: "1"},
        {id: "66", parent: "13_complete Freund's adjuvant", name: "12503092", value: "1"},
        {id: "67", parent: "13_cpd-B", name: "17881452", value: "1"},
        {id: "68", parent: "13_cpd-B", name: "17881452", value: "1"},
        {id: "69", parent: "13_cpd-B", name: "17881452", value: "1"},
        {id: "70", parent: "13_cpd-B", name: "17881452", value: "1"},
        {id: "71", parent: "13_CR36", name: "17325382", value: "1"},
        {id: "72", parent: "13_Cu2+", name: "19635464", value: "1"},
        {id: "73", parent: "13_Cu2+", name: "14642846", value: "1"},
        {id: "74", parent: "13_Cu2+, Mn2+ poor", name: "19635464", value: "1"},
        {id: "75", parent: "13_cyclic teterapyrroles phthalocyanine tetrasulfonate", name: "10688802", value: "1"},
        {id: "76", parent: "13_doxycycline", name: "18365024", value: "1"},
        {id: "77", parent: "13_D-PEN", name: "14519758", value: "1"},
        {id: "78", parent: "13_DS500", name: "1372039", value: "1"},
        {id: "79", parent: "13_DS500", name: "2419489", value: "1"},
        {id: "80", parent: "13_fucoidan", name: "17438058", value: "1"},
        {id: "81", parent: "13_heparin", name: "15668233", value: "1"},
        {id: "82", parent: "13_IND24", name: "21247166", value: "1"},
        {id: "83", parent: "13_IND24", name: "21247166", value: "1"},
        {id: "84", parent: "13_IND24", name: "21247166", value: "1"},
        {id: "85", parent: "13_IND24", name: "21247166", value: "1"},
        {id: "86", parent: "13_IND24", name: "21247166", value: "1"},
        {id: "87", parent: "13_IND81", name: "21247166", value: "1"},
        {id: "88", parent: "13_methylphenidate", name: "25748967", value: "1"},
        {id: "89", parent: "13_minocycline", name: "18365024", value: "1"},
        {id: "90", parent: "13_Mn2+", name: "19635464", value: "1"},
        {id: "91", parent: "13_pentosan polysulfate", name: "15113880", value: "1"},
        {id: "92", parent: "13_pentosan polysulfate", name: "15113880", value: "1"},
        {id: "93", parent: "13_pentosan polysulfate", name: "24554103", value: "1"},
        {id: "94", parent: "13_pentosan polysulfate", name: "17314188", value: "1"},
        {id: "95", parent: "13_pentosan polysulfate", name: "17477808", value: "1"},
        {id: "96", parent: "13_pentosan polysulfate", name: "18355301", value: "1"},
        {id: "97", parent: "13_quinine", name: "14722283", value: "1"},
        {id: "98", parent: "13_quinine", name: "14722283", value: "1"},
        {id: "99", parent: "13_quinine", name: "14722283", value: "1"},
        {id: "100", parent: "13_rapamycin ", name: "23921753", value: "1"},
        {id: "101", parent: "13_simvastatin", name: "18541796", value: "1"},
        {id: "102", parent: "13_simvastatin", name: "17496807", value: "1"},
        {id: "103", parent: "13_simvastatin", name: "16890918", value: "1"},
        {id: "104", parent: "13_SP54", name: "1372039", value: "1"},
        {id: "105", parent: "13_suramin", name: "1372039", value: "1"},
        {id: "106", parent: "13_suramin", name: "11483499", value: "1"},
        {id: "107", parent: "13_tetracycline", name: "18365024", value: "1"},
        {id: "108", parent: "13_tetracycline", name: "12149459", value: "1"},
        {id: "109", parent: "13_tetracycline", name: "12149459", value: "1"},
        {id: "110", parent: "13_tetracycline", name: "18365024", value: "1"},
        {id: "111", parent: "13_tilorone", name: "18350378", value: "1"},
        {id: "112", parent: "13_TiO2", name: "16963773", value: "1"},
        {id: "113", parent: "14_amantadine", name: "6372758", value: "1"},
        {id: "114", parent: "14_amantadine", name: "390098", value: "1"},
        {id: "115", parent: "14_amantadine", name: "4581346", value: "1"},
        {id: "116", parent: "14_amantadine", name: "4581346", value: "1"},
        {id: "117", parent: "14_amantadine", name: "6351817", value: "1"},
        {id: "118", parent: "14_amphotericin B", name: "15113880", value: "1"},
        {id: "119", parent: "14_pentosan polysulfate", name: "19788637", value: "1"},
        {id: "120", parent: "14_pentosan polysulfate", name: "19804407", value: "1"},
        {id: "121", parent: "15_curcumin", name: "17996023", value: "1"},
        {id: "122", parent: "15_heparan sulphate", name: "9761736", value: "1"},
        {id: "123", parent: "15_PrP autoantibodies ", name: "22362783", value: "1"},
        {id: "124", parent: "16_hemin", name: "17925394", value: "1"},
        {id: "125", parent: "17_aspirin ", name: "21347512", value: "1"},
        {id: "126", parent: "17_ATRA", name: "11986958", value: "1"},
        {id: "127", parent: "17_Cu2+", name: "22869751", value: "1"},
        {id: "128", parent: "17_FK 506", name: "26764098", value: "1"},
        {id: "129", parent: "17_glimepiride", name: "20011040", value: "1"},
        {id: "130", parent: "17_PD98059", name: "21347512", value: "1"},
        {id: "131", parent: "17_tacrolimu", name: "26764098", value: "1"},
        {id: "132", parent: "18_Cu2+", name: "14642846", value: "1"},
        {id: "133", parent: "18_Fe3+", name: "23416082", value: "1"},
        {id: "134", parent: "18_glimepiride", name: "20011040", value: "1"},
        {id: "135", parent: "18_Mn2+", name: "19633867", value: "1"},
        {id: "136", parent: "19_IDX", name: "9148807", value: "1"},
        {id: "137", parent: "19_4-amino-7-chloroquinoline", name: "20797807", value: "1"},
        {id: "138", parent: "19_4-hydroxytamoxifen", name: "23418355", value: "1"},
        {id: "139", parent: "19_acepromazine", name: "11504948", value: "1"},
        {id: "140", parent: "19_Alphanate®", name: "19563480", value: "1"},
        {id: "141", parent: "19_analogues of Congo red", name: "10725446", value: "1"},
        {id: "142", parent: "19_anle138b", name: "23604588", value: "1"},
        {id: "143", parent: "19_bathocuproine", name: "16987659", value: "1"},
        {id: "144", parent: "19_biquinolin ", name: "14722283", value: "1"},
        {id: "145", parent: "19_biquinolin ", name: "16987659", value: "1"},
        {id: "146", parent: "19_chlorpromazine", name: "11504948", value: "1"},
        {id: "147", parent: "19_CompB", name: "17881452", value: "1"},
        {id: "148", parent: "19_congo red", name: "7678300", value: "1"},
        {id: "149", parent: "19_congo red", name: "12655105", value: "1"},
        {id: "150", parent: "19_congo red", name: "10725446", value: "1"},
        {id: "151", parent: "19_congo red", name: "13679188", value: "1"},
        {id: "152", parent: "19_cpd-B", name: "17881452", value: "1"},
        {id: "153", parent: "19_CR36", name: "17325382", value: "1"},
        {id: "154", parent: "19_CR36", name: "17325382", value: "1"},
        {id: "155", parent: "19_Cu2+", name: "15249223", value: "1"},
        {id: "156", parent: "19_Cu2+", name: "19233277", value: "1"},
        {id: "157", parent: "19_Cu2+", name: "22869751", value: "1"},
        {id: "158", parent: "19_Cu2+", name: "14642846", value: "1"},
        {id: "159", parent: "19_Cu2+", name: "15865423", value: "1"},
        {id: "160", parent: "19_Cu2+", name: "16417569", value: "1"},
        {id: "161", parent: "19_DMSO", name: "12914974", value: "1"},
        {id: "162", parent: "19_DOC", name: "22226540", value: "1"},
        {id: "163", parent: "19_D-PEN", name: "14519758", value: "1"},
        {id: "164", parent: "19_DS500", name: "12917481", value: "1"},
        {id: "165", parent: "19_E-64d", name: "10775631", value: "1"},
        {id: "166", parent: "19_Fanhdi®", name: "19563480", value: "1"},
        {id: "167", parent: "19_FK 506", name: "26764098", value: "1"},
        {id: "168", parent: "19_Flebogamma® DIF", name: "20863716", value: "1"},
        {id: "169", parent: "19_fucoidan", name: "17438058", value: "1"},
        {id: "170", parent: "19_fucoidan", name: "17438058", value: "1"},
        {id: "171", parent: "19_glimepiride", name: "20011040", value: "1"},
        {id: "172", parent: "19_glimepiride", name: "20011040", value: "1"},
        {id: "173", parent: "19_heme", name: "26022071", value: "1"},
        {id: "174", parent: "19_HM2602", name: "12917481", value: "1"},
        {id: "175", parent: "19_HM2602", name: "12917481", value: "1"},
        {id: "176", parent: "19_HM2602", name: "17325382", value: "1"},
        {id: "177", parent: "19_heparin", name: "15668233", value: "1"},
        {id: "178", parent: "19_heparinase III", name: "12871949", value: "1"},
        {id: "179", parent: "19_MnO2", name: "19088299", value: "1"},
        {id: "180", parent: "19_Mn-TCPP", name: "16987659", value: "1"},
        {id: "181", parent: "19_Mn-TMPyP", name: "16987659", value: "1"},
        {id: "182", parent: "19_N-(7-chloro-4-guinolinyl)-1,2-ethanediamine", name: "20797807", value: "1"},
        {id: "183", parent: "19_neocuproine", name: "16987659", value: "1"},
        {id: "184", parent: "19_pentosan polysulfate", name: "15113880", value: "1"},
        {id: "185", parent: "19_pentosan polysulfate", name: "17325382", value: "1"},
        {id: "186", parent: "19_pentosan polysulfate", name: "7678300", value: "1"},
        {id: "187", parent: "19_pentosan polysulfate", name: "19804407", value: "1"},
        {id: "188", parent: "19_pentosan polysulfate", name: "21801238", value: "1"},
        {id: "189", parent: "19_promazine", name: "11504948", value: "1"},
        {id: "190", parent: "19_promethazine ", name: "11504948", value: "1"},
        {id: "191", parent: "19_quinacrine", name: "17325382", value: "1"},
        {id: "192", parent: "19_quinacrine", name: "11504948", value: "1"},
        {id: "193", parent: "19_quinacrine", name: "22507918", value: "1"},
        {id: "194", parent: "19_quinacrine", name: "16749906", value: "1"},
        {id: "195", parent: "19_quinacrine", name: "10775631", value: "1"},
        {id: "196", parent: "19_quinacrine", name: "12857915", value: "1"},
        {id: "197", parent: "19_rapamycin ", name: "23921753", value: "1"},
        {id: "198", parent: "19_SDS22226540", value: "1"},
        {id: "199", parent: "19_SDS22226540", value: "1"},
        {id: "200", parent: "19_SDS11278539", value: "1"},
        {id: "201", parent: "19_simvastatin18541796", value: "1"},
        {id: "202", parent: "19_sirius red12655105", value: "1"},
        {id: "203", parent: "19_SLS22226540", value: "1"},
        {id: "204", parent: "19_SLS22226540", value: "1"},
        {id: "205", parent: "19_SLS22226540", value: "1"},
        {id: "206", parent: "19_squalestatin14754889", value: "1"},
        {id: "207", parent: "19_suramin11483499", value: "1"},
        {id: "208", parent: "19_suramin11483499", value: "1"},
        {id: "209", parent: "19_tamoxifen23418355", value: "1"},
        {id: "210", parent: "19_TCPP16987659", value: "1"},
        {id: "211", parent: "19_tetracycline10903871", value: "1"},
        {id: "212", parent: "19_TMPyP16987659", value: "1"},
        {id: "213", parent: "19_TPP16987659", value: "1"},
        {id: "214", parent: "19_TPPS16987659", value: "1"},
        {id: "215", parent: "19_TUDCA, tauroursodeoxycholic acidPMCID 4505631", value: "1"},
        {id: "216", parent: "19_TUDCA, tauroursodeoxycholic acidPMCID 4505631", value: "1"},
        {id: "217", parent: "19_UDCA, precursor of TUDCAPMCID 4505631", value: "1"},
        {id: "218", parent: "19_vitamin D2 23857314", value: "1"},
        {id: "219", parent: "19_β-cyclodextrin17699584", value: "1"},
        {id: "220", parent: "19_β-D-xyloside12871949", value: "1"},
        {id: "221", parent: "20_cpd-B17881452", value: "1"},
        {id: "222", parent: "20_cpd-B17881452", value: "1"},
        {id: "223", parent: "21_analogues of Congo red10725446", value: "1"},
        {id: "224", parent: "21_Cu2+11278539", value: "1"},
        {id: "225", parent: "21_Mn2+15249223", value: "1"},
        {id: "226", parent: "21_triton X-10022226540", value: "1"},
        {id: "227", parent: "22_FTY72024142108", value: "1"},
        {id: "228", parent: "23_aspirin 21347512", value: "1"},
        {id: "229", parent: "23_cannabidiol17804615", value: "1"},
        {id: "230", parent: "23_cannabidiol17804615", value: "1"},
        {id: "231", parent: "23_carnosine21442127", value: "1"},
        {id: "232", parent: "23_chondroitin sulphate B9761736", value: "1"},
        {id: "233", parent: "23_Cu2+21442127", value: "1"},
        {id: "234", parent: "23_flupirtine9344576", value: "1"},
        {id: "235", parent: "23_gingerol25231392", value: "1"},
        {id: "236", parent: "23_glimepiride20011040", value: "1"},
        {id: "237", parent: "23_glucosamine-phosphatidylinnositol20398681", value: "1"},
        {id: "238", parent: "23_heparan sulphate9761736", value: "1"},
        {id: "239", parent: "23_hinokitiol27074563", value: "1"},
        {id: "240", parent: "23_keratan sulphate9761736", value: "1"},
        {id: "241", parent: "23_PrP autoantibodies 22362783", value: "1"},
        {id: "242", parent: "23_resveratrol21074897", value: "1"},
        {id: "243", parent: "23_rutin25048806", value: "1"},
        {id: "244", parent: "23_simvastatin18541796", value: "1"},
        {id: "245", parent: "23_squalestatin14754889", value: "1"},
        {id: "246", parent: "23_STI57125681617", value: "1"},
        {id: "247", parent: "23_sulforaphane25130556", value: "1"},
        {id: "248", parent: "23_tetracycline10903871", value: "1"},
        {id: "249", parent: "23_uric acid15473996", value: "1"},
        {id: "250", parent: "23_Zn2+21442127", value: "1"},
        {id: "251", parent: "24_tetracycline10903871", value: "1"},
        {id: "252", parent: "24_tetracycline12149459", value: "1"},
        {id: "253", parent: "24_tetracycline12149459", value: "1"},
        {id: "254", parent: "25_quinacrine14582366", value: "1"},
        {id: "255", parent: "25_quinacrine with chloropromazine15319710", value: "1"},
        {id: "256", parent: "26_biquinolin 14722283", value: "1"},
        {id: "257", parent: "26_hyaluronic acid9761736", value: "1"},
        {id: "258", parent: "26_pentosan polysulfate19788637", value: "1"},
        {id: "259", parent: "26_pentosan polysulfate18355301", value: "1"},
        {id: "260", parent: "26_simvastatin17496807", value: "1"},
        {id: "261", parent: "26_simvastatin16890918", value: "1"},
        {id: "262", parent: "27_POPS20409471", value: "1"},



]

    </script>
</body>
</html>
{% endblock content %}
